.container_1{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-gap: 10px; */
    /* padding: 10px; */
}

.about_me_title_grid{
    grid-column-start: 5;
    grid-column-end: 9;
}

.about_me_img_grid{
    grid-column-start: 1;
    grid-column-end: 4;
}

.about_me_info_grid{
    grid-column-start: 4;
    grid-column-end: 7;
}


.skill_1_grid{
    grid-column-start: 4;
    grid-column-end: 5;
}

.skill_2_grid{
    grid-column-start: 5;
    grid-column-end: 9;
}

.language_1{
    grid-column-start: 2;
    grid-column-end: 3;
}
.language_2{
    grid-column-start: 3;
    grid-column-end: 4;
}
.language_3{
    grid-column-start: 4;
    grid-column-end: 5;
}

.nested_area_1{
    grid-column-start: 1;
    /* grid-column-end: 2; */
    
}

.nested_area_2{
    grid-column-start: 3;
    /* grid-column-end: 4; */
    
}

.web_development_grid{
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap: 10px;
    /* border: 1px solid #000; */
    /* padding: 10px; */
    
}
.android_development_grid{
    /* display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 5px; */
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap: 10px;
    border: 1px solid #000;
}

.web_development_container{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 10px;
}

.web_development_title{
    grid-column-start: 1;
    grid-column-end: 6;
}
.web_lang_1{
    grid-column-start: 1;
    grid-column-end: 2;

}

.web_lang_2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.and_lang_1{
    grid-column-start: 4;
    grid-column-end: 5;

}

.mobile_grid_1{
    grid-column-start: 1;
}

.mobile_grid_2{
    grid-column-start: 2;
}

@media(max-width:1024px) {
    .nested_area_1{

        grid-column-start: 2;
        margin-left: 50px;
    }
    .nested_area_2{
        grid-column-start: 2;
        margin-left: 50px;
    }

    .about_me_img_grid{
        grid-column-start: 7;
    }

    .about_me_title_grid,
    .about_me_info_grid{
        grid-column-start: 4;
        margin-left: 13px;
    }   
}

@media(max-width: 500px){
    
    .skill_1_grid{
        grid-column-start: 5;
    }
    .skill_2_grid{
        grid-column-start: 2;
    }

    .language_1,
    .language_2,
    .language_3{
        grid-column-start: 3;
        grid-column-end: 4;
        margin-right: 50px;
    }

    .web_lang_1{
        grid-column-start: 4;
        margin-left: 60px;
    }

    .web_lang_2{
        grid-column-start: 4;
        margin-left: 13px;
    }
    .about_me_img_grid{
        grid-column-start: 7;
    }

    .about_me_title_grid,
    .about_me_info_grid{
        grid-column-start: 4;
        margin-left: 13px;
    }    
    .nested_area_1,
    .nested_area_2,
    .web_development_title,
    .mobile_grid_1,
    .mobile_grid_2{
        grid-column-start: 2;
    }
    .web_development_container{
        grid-template-columns: 1fr;
    }
}